<script src="{{resources}}/bower_components/json-editor/dist/jsoneditor.min.js"></script>
<div class="container">
    <div id="editor_holder"></div>
    <button id="submit" class="btn btn-lg btn-primary">Update account</button>
</div>
<script>
    // Initialize the editor with a JSON schema
    var editor = new JSONEditor(document.getElementById('editor_holder'), {
        theme: "bootstrap3",
        disable_edit_json: true,
        disable_collapse: true,
        no_additional_properties: true,
        required_by_default: true,
        startval: {{{data}}},
        schema: {{{schema}}}
    });

    editor.getEditor("root.username").disable();

    // Hook up the submit button to log to the console
    document.getElementById("submit").addEventListener("click", function() {
        // Get the value from the editor
        console.log(editor.getValue());
    });
</script>
